@media (min-width: 1280px){
    .x .c1-f{
        font-size:16px
    }
    .circle {
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background-color: black;
        position: fixed; 
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 99999999; /* so that it stays on top of all other elements */
      }
}
@media (min-width: 1280px){
    .x .c1-1r{
        font-size:14px
    }
}
@media (min-width: 1280px){
    .x .c1-2c{
        font-size:32px
    }
}
@media (min-width: 1280px){
    .x .c1-2p{
        font-size:44px
    }
}
@media (min-width: 1280px){
    .x .c1-2u{
        font-size:22px
    }
}
@media (min-width: 1280px){
    .x .c1-55{
        width:1160px
    }
}
@media (min-width: 1280px){
    .x .c1-5i{
        font-size:39px
    }
}
@media (min-width: 1280px){
    .x .c1-5o{
        font-size:28px
    }
}
@media (min-width: 1280px){
    .x .c1-5t{
        font-size:19px
    }
}
@media (min-width: 1280px){
    .x .c1-aj{
        font-size:12px
    }
}