@media (min-width: 768px){
    .x .c1-d{
        font-size:16px
    }
    
}
@media (min-width: 768px) and (max-width: 1023px){
    .x .c1-1o{
        width:auto
    }
}
@media (min-width: 768px){
    .x .c1-1p{
        font-size:14px
    }
}
@media (min-width: 768px){
    .x .c1-2a{
        font-size:30px
    }
}
@media (min-width: 768px){
    .x .c1-2n{
        font-size:38px
    }
}
@media (min-width: 768px){
    .x .c1-2s{
        font-size:22px
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .x .c1-3e{
        width:100%
    }
}
@media (min-width: 768px){
    .x .c1-53{
        width:100%
    }
}
@media (min-width: 768px){
    .x .c1-5g{
        font-size:33px
    }
}
@media (min-width: 768px){
    .x .c1-5m{
        font-size:26px
    }
}
@media (min-width: 768px){
    .x .c1-5r{
        font-size:19px
    }
}
@media (min-width: 768px){
    .x .c1-6j{
        width:auto
    }
}
@media (min-width: 768px){
    .x .c1-6t{
        margin-top:0
    }
}
@media (min-width: 768px){
    .x .c1-6u{
        margin-right:-24px
    }
}
@media (min-width: 768px){
    .x .c1-6v{
        margin-bottom:-48px
    }
}
@media (min-width: 768px){
    .x .c1-6w{
        margin-left:-24px
    }
}
@media (min-width: 768px){
    .x .c1-6z{
        flex-basis:50%
    }
}
@media (min-width: 768px){
    .x .c1-70{
        max-width:50%
    }
}
@media (min-width: 768px){
    .x .c1-71{
        padding-top:0
    }
}
@media (min-width: 768px){
    .x .c1-72{
        padding-right:24px
    }
}
@media (min-width: 768px){
    .x .c1-73{
        padding-bottom:48px
    }
}
@media (min-width: 768px){
    .x .c1-74{
        padding-left:24px
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .x .c1-7f{
        display:block
    }
}
@media (min-width: 768px){
    .x .c1-7i{
        position:absolute
    }
}
@media (min-width: 768px) and (max-width: 1023px){
    .x .c1-7l{
        position:relative
    }
}
@media (min-width: 768px){
    .x .c1-8h{
        margin-bottom:0
    }
}
@media (min-width: 768px){
    .x .c1-8i{
        margin-left:8.333333333333332%
    }
}
@media (min-width: 768px){
    .x .c1-8j{
        flex-basis:83.33333333333334%
    }
}
@media (min-width: 768px){
    .x .c1-8k{
        max-width:83.33333333333334%
    }
}
@media (min-width: 768px){
    .x .c1-8l{
        padding-bottom:0
    }
}
@media (min-width: 768px){
    .x .c1-8t{
        object-fit:cover
    }
}
@media (min-width: 768px){
    .x .c1-95{
        margin-left:16px
    }
}
@media (min-width: 768px){
    .x .c1-96{
        margin-right:16px
    }
}
@media (min-width: 768px){
    .x .c1-9v{
        width:400px
    }
}
@media (min-width: 768px){
    .x .c1-9w{
        max-height:500px
    }
}
@media (min-width: 768px){
    .x .c1-9x{
        border-radius:7px
    }
}
@media (min-width: 768px){
    .x .c1-9y{
        margin-top:24px
    }
}
@media (min-width: 768px){
    .x .c1-9z{
        margin-right:24px
    }
}
@media (min-width: 768px){
    .x .c1-a0{
        margin-bottom:24px
    }
}
@media (min-width: 768px){
    .x .c1-a1{
        margin-left:24px
    }
}
@media (min-width: 768px){
    .x .c1-a4{
        max-height:200px
    }
}
@media (min-width: 768px){
    .x .c1-ah{
        font-size:12px
    }
}