@media (min-width: 1024px){
    .x .c1-e{
        font-size:16px
    }
    .circle {
        height: 24px;
        width: 24px;
        border-radius: 24px;
        background-color: black;
        position: fixed; 
        top: 0;
        left: 0;
        pointer-events: none;
        z-index: 99999999; /* so that it stays on top of all other elements */
      }
}
@media (min-width: 1024px){
    .x .c1-o{
        display:block
    }
}
@media (min-width: 1024px){
    .x .c1-v{
        padding-top:16px
    }
}
@media (min-width: 1024px){
    .x .c1-w{
        padding-bottom:16px
    }
}
@media (min-width: 1024px){
    .x .c1-x{
        padding-left:16px
    }
}
@media (min-width: 1024px){
    .x .c1-y{
        padding-right:16px
    }
}
@media (min-width: 1024px){
    .x .c1-17{
        display:none
    }
}
@media (min-width: 1024px){
    .x .c1-1q{
        font-size:14px
    }
}
@media (min-width: 1024px){
    .x .c1-2b{
        font-size:30px
    }
}
@media (min-width: 1024px){
    .x .c1-2o{
        font-size:38px
    }
}
@media (min-width: 1024px){
    .x .c1-2t{
        font-size:22px
    }
}
@media (min-width: 1024px){
    .x .c1-33{
        display:flex
    }
}
@media (min-width: 1024px){
    .x .c1-38{
        flex-basis:33.33333333333333%
    }
}
@media (min-width: 1024px){
    .x .c1-39{
        max-width:33.33333333333333%
    }
}
@media (min-width: 1024px){
    .x .c1-3u{
        flex-direction:row
    }
}
@media (min-width: 1024px){
    .x .c1-3z{
        width:50%
    }
}
@media (min-width: 1024px){
    .x .c1-4s{
        min-height:60vh
    }
}
@media (min-width: 1024px){
    .x .c1-4u{
        min-height:inherit
    }
}
@media (min-width: 1024px){
    .x .c1-4v{
        flex-grow:1
    }
}
@media (min-width: 1024px){
    .x .c1-4w{
        padding-top:0px
    }
}
@media (min-width: 1024px){
    .x .c1-50{
        margin-left:16.666666666666664%
    }
}
@media (min-width: 1024px){
    .x .c1-51{
        flex-basis:66.66666666666666%
    }
}
@media (min-width: 1024px){
    .x .c1-52{
        max-width:66.66666666666666%
    }
}
@media (min-width: 1024px){
    .x .c1-54{
        width:984px
    }
}
@media (min-width: 1024px){
    .x .c1-5b{
        padding-top:72px
    }
}
@media (min-width: 1024px){
    .x .c1-5c{
        padding-bottom:72px
    }
}
@media (min-width: 1024px){
    .x .c1-5d{
        text-align:center
    }
}
@media (min-width: 1024px){
    .x .c1-5h{
        font-size:33px
    }
}
@media (min-width: 1024px){
    .x .c1-5n{
        font-size:26px
    }
}
@media (min-width: 1024px){
    .x .c1-5s{
        font-size:19px
    }
}
@media (min-width: 1024px){
    .x .c1-7k{
        position:relative
    }
}
@media (min-width: 1024px){
    .x .c1-8w{
        margin-bottom:0px
    }
}
@media (min-width: 1024px){
    .x .c1-97{
        width:48px
    }
}
@media (min-width: 1024px){
    .x .c1-98{
        height:48px
    }
}
@media (min-width: 1024px){
    .x .c1-99{
        margin-left:24px
    }
}
@media (min-width: 1024px){
    .x .c1-9a{
        margin-right:24px
    }
}
@media (min-width: 1024px){
    .x .c1-9b{
        padding-right:0px
    }
}
@media (min-width: 1024px){
    .x .c1-9c{
        padding-bottom:0px
    }
}
@media (min-width: 1024px){
    .x .c1-9d{
        padding-left:0px
    }
}
@media (min-width: 1024px){
    .x .c1-9h{
        flex-basis:0%
    }
}
@media (min-width: 1024px){
    .x .c1-9i{
        max-width:none
    }
}
@media (min-width: 1024px){
    .x .c1-ai{
        font-size:12px
    }
}
@media (min-width: 1024px){
    .x .c1-aq{
        z-index:9999
    }
}